.title {
    text-align: center;
}


#corpoTi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #7ec3e6;
}



/* segunda paginda */

#corpoResult {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(55, 56, 56);
}


.cardbutton {
    background: #527181;
    cursor: pointer;
    transition: all ease .5s;
}

.cardbutton a {
    text-decoration: none;
    color: #fff;
}

.cardbutton:hover {
    transform: scale(1.1);
    transition: all ease .5s;
}


#btnBack {
    margin: 1.5em 0;
}

#cardBody {
    background: #e6e8e9;
    border-radius: 1em;
}

.certo {
    color: rgb(14, 160, 9);
}

.errado {
    color: rgb(202, 22, 22);
}