.title {
    text-align: center;
}

/* segunda paginda */

#corpoResult {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

#btnBack {
    margin: 1.5em 0;
}

#cardBody {
    background: #e6e8e9;
    border-radius: 1em;
}

.certo {
    color: rgb(14, 160, 9);
}

.errado {
    color: rgb(202, 22, 22);
}